html{
    margin: 0;
    overflow: hidden;
}

#root{
    display: grid;
    grid-template-rows: 15% 70% 15%;
    color: rgb(225, 225, 225);
    min-height: 100vh;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.control-panel{
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
}

.control-panel > div button{
    width: 80%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(225, 225, 225);
    grid-row: 1/2;
}

.indicator{
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    padding: 5px;
    color: black;
}


.indicator-on{
    background-color: rgba(0, 255, 34, 0.61);
    box-shadow: 
        0 0 10px rgba(0, 255, 34, 0.8),
        0 0 20px rgba(0, 255, 34, 0.6),
        0 0 30px rgba(0, 255, 34, 0.41);
}

/*button{
    border-radius: 10px;
    background-color: rgb(17, 120, 204)
}

button:hover {
    background-color: rgba(17, 120, 204, 0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
*/


.btn-grad {background-image: linear-gradient(to right, #870000 0%, #9b0012  51%, #6d0713  100%)}
.btn-grad {
    display: flex;
    position: relative;
    margin: 10px;
    padding: 15px 45px;
    justify-content: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
         
.btn-grad:active {
    background-color: rgba(0, 0, 0, 0.452);
    transform: scale(0.95);
}

.device-toggle{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
